.media-object {
    width: 300px;
    height: 200px;
}

.media-body {
    margin-left: 10px;
}

.media {
    border-left-style: solid;
border-left-width: 1px;
border-top-width: 1px;
border-top-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
border-right-width: 1px;
border-right-style: solid;
margin-bottom: 30px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}