.sideView{
    background-repeat: no-repeat, repeat;
    background: url("../img/img/side-view.jpg") no-repeat center center fixed, #19345E;
    background-blend-mode: luminosity;
    background-size: cover; 
    width:100%;
    height: 700px;
}
.leftview{
    font-family: 'Muli', sans-serif;
    color: #19345E;
}
.fontInForm{
    font-size:14px;
    font-weight: bold;
}
.fontAndForm{
    margin-bottom:100px;
}

.inputsName{
    height:50px;
    padding-left: 60px !important;
    background: url("../img/ico/ico-user.png") no-repeat 15px center scroll;
}
.inputsEmail{
    height:50px;
    padding-left: 60px !important;
    background: url("../img/ico/ico-email.png") no-repeat 15px center scroll;
}
.inputsPhone{
    height:50px;
    padding-left: 60px !important;
    background: url("../img/ico/ico-phone.png") no-repeat 18px center scroll;
}

.inputsNationality{
    height:50px;
    padding-left: 20px !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#contactlost {
    height: 100%
}